*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: @font-family;
  font-size: @font-size-h1;
  font-weight: bold;
  color: @color-white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: @font-family;
  font-size: @font-size-h2;
  color: @color-black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: @font-family;
  font-size: @font-size-h3;
  color: @color-black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: @font-size-basic;
  line-height: @line-height-basic;
  margin: 0;
  padding: 0;
  color: @color-black;
}

a {
  font-family: @font-family;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
