.page-footer{
  background-image: url("../img/footer-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  min-height: 1100px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
