.travel {
    background-image: url("../img/travel-bg-image.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    width: 100vw;
    min-height: 1100px;
    padding: 50px 0 90px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
}

.travel__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    background-image: url("../img/about-map-blue.png");
    background-repeat: no-repeat;
    background-position: center 0;
    min-height: 800px;
}

.travel__title {
    display: block;
    text-align: center;
    margin-bottom: 70px;
    width: 100%;
}

.travel__title::before {
    display: block;
    position: relative;
    content: "";
    top: -35px;
    width: 81px;
    height: 7px;
    margin: 0 auto;
    background-image: url("../img/icon-line.svg");
}

.travel__item {
    width: 200px;
    height: 380px;
    border-radius: 5px;
    padding: 20px;
}

.travel__stars{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 75px;
}

.travel__star{
  display: block;
  position: relative;
  top: -10px;
  left: 5px;
  width: 38px;
  height: 38px;
  margin-left: -15px;
}

.travel__item-1 {
    background: url("../img/travel-image-1.jpg") no-repeat;
}

.travel__item-2 {
    background: url("../img/travel-image-2.jpg") no-repeat;
}

.travel__item-3 {
    background: url("../img/travel-image-3.jpg") no-repeat;
}

.travel__item-4 {
    background: url("../img/travel-image-4.jpg") no-repeat;
}

.travel__item-5 {
    background: url("../img/travel-image-5.jpg") no-repeat;
}

.travel__item-title{
  color: @color-white;
  font-family: @font-family;
  font-size: 28px;
  line-height: 63px;
  font-weight: normal;
}

.travel__item-text{
  font-family: @font-family;
  font-size: 16px;
  color: @color-white;
  margin-bottom: 90px;
}

.travel__prices{
  display: flex;
  justify-content: space-between;
}

.travel__old-price{
  color: @color-white;
  font-family: @font-family;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-decoration: line-through;
}

.travel__new-price{
  color: @color-white;
  font-family: @font-family;
  font-size: 26px;
  line-height: 22px;
  font-weight: bold;
}
